<h1>Listing pictures</h1>

<table>  
 <tr>
<% @pictures.each do |picture| %> 
  <td>  
    <%= image_tag( picture.image_url ) %>
    <br/><b>Title:</b> <%= picture.title %>
    <br/><b>Description:</b> <%= picture.description %><br/>
    <%= link_to 'Show', picture %>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, confirm: 'Are you sure?', method: :delete %>
  </td> 
<% end %>
 </tr>
</table>

<br />

<%= link_to 'New Picture', new_picture_path %>
